@import '~bootstrap/scss/bootstrap';

.my_jumbotron{
    width: 100%;
    height: 700px;
    background-size: cover;
    background-image: url(https://www.themoviedb.org/t/p/original/s6hTk2TlbvaSxNbcLHKsfQoAaoi.jpg);
}

.my_container{

    border-top: 4px solid rgba(255, 255, 255, 0.372);

    img{
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}